@font-face {
    font-family: 'ecoicon';
    src:url('../fonts/ecoicons/ecoicon.eot');
    src:url('../fonts/ecoicons/ecoicon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ecoicons/ecoicon.woff') format('woff'),
    url('../fonts/ecoicons/ecoicon.ttf') format('truetype'),
    url('../fonts/ecoicons/ecoicon.svg#ecoicon') format('svg');
    font-weight: normal;
    font-style: normal;
}