header {
    background: #fff;
    height: 40px;
}
.navbar { border: none; }
.navbar-header {
    margin: 0 auto;
    float: none;
    position: relative;
    width: 100%;
}

.navbar > .container-fluid .navbar-brand {
    margin: 0 auto;
    float: none;
    display: block;
    padding: 10px 15px;
    height: 100%;
    width: 157px;
}


.nav-right {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 0;
}
.nav-right .google-apps {
    background-image: url("../images/google-apps.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 0 6px;
    vertical-align: -4px;
}
.nav-right .google-apps img { width: 100%; }
.nav-right .toggle-settings {
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    vertical-align: -1px;
    margin: 0 0 0 6px;
    text-decoration: none;
    cursor: pointer;
}


