@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700|Handlee);
#instagram {margin-top: 40px;}
#instagram .profile {
    margin: 0 -5px;
    position: relative;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    margin-bottom: 20px;
}
.cover {
    background-image: url("http://pongstr.github.io/pongstagr.am/assets/img/img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px;
}

/* ... login screen start ... */

.in-login {
    background-image: url("http://pongstr.github.io/pongstagr.am/assets/img/img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    border-radius: 5px;
    margin-bottom: -30px;
}
/* ... login screen end ... */






.in-profile-refresh { position: absolute;right: 20px;top: 15px;font-size: 18px;opacity: 0.5; }
.in-profile-refresh:hover { opacity: 1; }
.in-nav {
    width: 100%;
    height: 50px;
}

.in-nav ul { padding-left: 0;margin-bottom: 0;list-style: none;}
.in-nav .in-filters li {float: right;height: 55px;}
.in-nav .in-filters li a {padding: 18px;vertical-align: -19px;font-size: 16px;text-decoration: none;}
.in-nav .in-filters li a:hover {background: #C0C0C0;color: #FFF;}
.in-nav .in-count {margin-left: 200px;}
.in-nav .in-count li {float: left;padding: 15px;}
.in-nav .in-count li a {text-decoration: none;color: #aaa;font-size: 18px;margin-right: 4px;}
.in-nav .in-count li a span {font-size: 14px;line-height: 1.42857143;color: #333;}

#instagram .shot-cam-loader:before { top: 46%; }
#instagram .profile .shot-cam-loader:before { top: 50%; }
#instagram .profile .spinner { margin-top: -16px; }
.pic {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 80px;
    left: 20px;
    border-radius: 4px;
    border: 4px solid #FFF;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    background-image: url("/assets/checkered.png" );
}

.in-user {
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    overflow: hidden;
    margin-bottom: 2px;
    width: 100%;
    height: 215px;
    background: #FFF;
}

.in-user .in-user-cover {
    background-image: url("http://pongstr.github.io/pongstagr.am/assets/img/img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 90px;
}

.in-user-pic {
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    width: 130px;
    border: 2px solid #FFF;
    box-shadow: 0 0px 5px 0 #000;
    margin-left: 10px;
}
.in-user-name {
    vertical-align: 100px;
    font-size: 20px;
    margin-left: 10px;
    display: inline-block;
    width: 221px;
}
.in-user .in-user-bio {
    padding: 0 10px 10px;
    height: 64px;
    overflow: hidden;
}

.empty-object { margin-bottom: 11px;color: #C7C7C7;text-align: center;}
.ellipsis { white-space: nowrap;text-overflow: ellipsis;overflow: hidden; }
#instagram .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -36px;
    margin-left: -14px;
}
/* --------------------------------

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
    /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}
.cd-container::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both;
}

/* --------------------------------

Main components

-------------------------------- */

#cd-timeline {
    position: relative;
    padding: 2em 0;
    margin-top: 2em;
    margin-bottom: 2em;
}
#cd-timeline::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: -41px;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #d7e4ed;
}
@media only screen and (min-width: 1170px) {
    #cd-timeline {
        margin-top: 3em;
        margin-bottom: 3em;
    }
    #cd-timeline::before {
        left: 50%;
        margin-left: -2px;
    }
}

.cd-timeline-block {
    position: relative;
    margin: 2em 0;
}
.cd-timeline-block:after {
    content: "";
    display: table;
    clear: both;
}
.cd-timeline-block:first-child {
    margin-top: 0;
}
.cd-timeline-block:last-child {
    margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
    .cd-timeline-block {
        margin: 4em 0;
    }
    .cd-timeline-block:first-child {
        margin-top: 0;
    }
    .cd-timeline-block:last-child {
        margin-bottom: 0;
    }
}

.cd-timeline-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img img {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
}
.cd-timeline-img.cd-picture {
    background: #75ce66;
}
.cd-timeline-img.cd-movie {
    background: #c03b44;
}
.cd-timeline-img.cd-location {
    background: #f0ca45;
}
@media only screen and (min-width: 1170px) {
    .cd-timeline-img {
        width: 60px;
        height: 60px;
        left: 50%;
        margin-left: -30px;
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }
    .cssanimations .cd-timeline-img.is-hidden {
        visibility: hidden;
    }
    .cssanimations .cd-timeline-img.bounce-in {
        visibility: visible;
        -webkit-animation: cd-bounce-1 0.6s;
        -moz-animation: cd-bounce-1 0.6s;
        animation: cd-bounce-1 0.6s;
    }
}

@-webkit-keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
    }
}
@-moz-keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -moz-transform: scale(0.5);
    }

    60% {
        opacity: 1;
        -moz-transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
    }
}
@keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}
.cd-timeline-content {
    position: relative;
    margin-left: 60px;
    background: white;
    border-radius: 0.25em;
    padding: 1em;
    box-shadow: 0px 3px 0px 1px #D7E4ED;
}
.cd-timeline-content:after {
    content: "";
    display: table;
    clear: both;
}
.cd-timeline-content h2 {
    color: #303e49;
}
.cd-timeline-content p {
    margin: 1em 0;
    line-height: 1.6;
}
.cd-timeline-content .cd-read-more {
    float: right;
    padding: .8em 1em;
    background: #acb7c0;
    color: white;
    border-radius: 0.25em;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
    background-color: #bac4cb;
}
@media only screen and (min-width: 768px) {
    .cd-timeline-content h2 {
        font-size: 20px;
        font-size: 1.25rem;
    }
    .cd-timeline-content p {
        font-size: 16px;
        font-size: 1rem;
    }
}
@media only screen and (min-width: 1170px) {
    .cd-timeline-content {
        margin-left: 0;
        padding: 0;
        border-radius: 6px;
        width: 45%;
    }
    .cd-timeline-content .cd-read-more {
        float: left;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content {
        float: right;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
        float: right;
    }
    .cssanimations .cd-timeline-content.is-hidden {
        visibility: hidden;
    }
    .cssanimations .cd-timeline-content.bounce-in {
        visibility: visible;
        -webkit-animation: cd-bounce-2 0.6s;
        -moz-animation: cd-bounce-2 0.6s;
        animation: cd-bounce-2 0.6s;
    }
}

@media only screen and (min-width: 1170px) {
    /* inverse bounce effect on even content blocks */
    .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
        -webkit-animation: cd-bounce-2-inverse 0.6s;
        -moz-animation: cd-bounce-2-inverse 0.6s;
        animation: cd-bounce-2-inverse 0.6s;
    }
}
@-webkit-keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
    }

    100% {
        -webkit-transform: translateX(0);
    }
}
@-moz-keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -moz-transform: translateX(-100px);
    }

    60% {
        opacity: 1;
        -moz-transform: translateX(20px);
    }

    100% {
        -moz-transform: translateX(0);
    }
}
@keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
        -moz-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
        -o-transform: translateX(-100px);
        transform: translateX(-100px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
        -moz-transform: translateX(20px);
        -ms-transform: translateX(20px);
        -o-transform: translateX(20px);
        transform: translateX(20px);
    }

    100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}
@-webkit-keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
    }

    100% {
        -webkit-transform: translateX(0);
    }
}
@-moz-keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -moz-transform: translateX(100px);
    }

    60% {
        opacity: 1;
        -moz-transform: translateX(-20px);
    }

    100% {
        -moz-transform: translateX(0);
    }
}
@keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
        -moz-transform: translateX(100px);
        -ms-transform: translateX(100px);
        -o-transform: translateX(100px);
        transform: translateX(100px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
        -moz-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        -o-transform: translateX(-20px);
        transform: translateX(-20px);
    }

    100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}





.timeline-img {
    border-radius: 6px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    overflow: hidden;
}

.timeline-img img {
    background-image: url("../images/checkered.png" );
    height: 481px;
}



figcaption.in-photo-details { color: #868686;padding: 10px;border-top: 1px solid #DBDBDB; }
figcaption.in-photo-details span { margin-left: 30px;font-size: 18px;height: 28px; }
figcaption.in-photo-details span:last-child { margin-left: 10px;}

figcaption.in-photo-details > span:before {vertical-align: -4px;margin-right: 3px; }
.in-user-profile-pic {
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    width: 60px;
    border: 2px solid #FFF;
    box-shadow: 0 0px 5px 0 #000;
    margin-top: -40px;
    margin-left: 10px;
}

.timeline-details {
    width: 100%;
    position: absolute;
    left: 122%;
    top: 0;
    background: #fff;
    float: left;
    /*max-height: 526px;*/
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 3px 0px 1px #D7E4ED;
}

.cd-timeline-block:nth-child(even) .cd-timeline-content .timeline-details {
    left: auto;
    right: 122%;
    text-align: right;
}

.timeline-details .in-photo-status { padding: 10px;border-bottom: 1px solid #DBDBDB;background: #F8F8F8;}
.timeline-details .in-photo-status div{ display: inline-block; }
.timeline-details .timeline-comments { padding: 10px 10px 40px;overflow: auto;max-height: 417px; }
.timeline-details .timeline-comments .comment { padding: 4px; }
.timeline-details .timeline-comments .comment div { display: inline-block; }
.timeline-details .timeline-user-pic { width: 50px;border-radius: 50%;overflow: hidden;border: 2px solid #C0C0C0; }
.timeline-details .timeline-user-text { position: relative;text-align: left;vertical-align: top;padding: 4px;width: 88%; }
.timeline-details .timeline-timestamp { color: #c0c0c0;font-style: italic;font-size: 11px;position: absolute;right: 20px;margin-top: -20px; }
.timeline-details .in-new-comment {position: absolute;width: 100%;bottom: 0;}
.timeline-details .in-new-comment .input-comment { width: 100%;line-height: 2.5;outline: none;font-size: 16px;border: none;border-top: 1px solid #DBDBDB;padding: 0 8px; }



/* Heart pop*/


.heart {
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 30px;
    cursor: pointer;
}
.heart:before,
.heart:after {
    /*background: #fc2e5a;*/

    content: '';
    display: block;
    position: absolute;
    background-color: #E2E2E2;
    width: 20px;
    height: 33px;
    left: 20px;
    border-radius: 3em 3em 0 1em;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    -webkit-box-shadow: -2px -1px 2px -1px #000;
    -moz-box-shadow: -2px -1px 2px -1px #000;
    box-shadow: -2px -1px 2px -1px #000;
}
.heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
    border-radius: 3em 3em 1em 0;
    -webkit-box-shadow: 1px 1px 2px -1px #000;
    -moz-box-shadow: 1px 1px 2px -1px #000;
    box-shadow: 1px 1px 2px -1px #000;
}
.heart-active:before, .heart-active:after { background-color: #B94A48; }
.heart.pop {
    opacity: 0;
    animation-duration: .5s;
    animation-name: pop;
    -o-animation-duration: .5s;
    -o-animation-name: pop;
    -ms-animation-duration: .5s;
    -ms-animation-name: pop;
    -moz-animation-duration: .5s;
    -moz-animation-name: pop;
    -webkit-animation-duration: .5s;
    -webkit-animation-name: pop;
}
@keyframes pop {
    from {margin-left: 46px; margin-top: 42px; width: 92px; height: 84px; opacity: 0;}
    20% {opacity: 1;}
    40% {opacity: 1;}
    to {margin-left: 0; margin-top: 0; width: 184px; height: 167px; opacity: 0;}
}
@-o-keyframes pop {
    from {margin-left: 46px; margin-top: 42px; width: 92px; height: 84px; opacity: 0;}
    20% {opacity: 1;}
    40% {opacity: 1;}
    to {margin-left: 0; margin-top: 0; width: 184px; height: 167px; opacity: 0;}
}
@-ms-keyframes pop {
    from {margin-left: 46px; margin-top: 42px; width: 92px; height: 84px; opacity: 0;}
    20% {opacity: 1;}
    40% {opacity: 1;}
    to {margin-left: 0; margin-top: 0; width: 184px; height: 167px; opacity: 0;}
}
@-moz-keyframes pop {
    from {margin-left: 46px; margin-top: 42px; width: 92px; height: 84px; opacity: 0;}
    20% {opacity: 1;}
    40% {opacity: 1;}
    to {margin-left: 0; margin-top: 0; width: 184px; height: 167px; opacity: 0;}
}
@-webkit-keyframes pop {
    from {margin-left: 46px; margin-top: 42px; width: 92px; height: 84px; opacity: 0;}
    20% {opacity: 1;}
    40% {opacity: 1;}
    to {margin-left: 0; margin-top: 0; width: 184px; height: 167px; opacity: 0;}
}


/* ... loading heart start ... */
.loading-heart-container {
    position: relative;
    width: 50px;
    max-width: 365px;
    margin: -100px auto 20px;
    height: 50px;
}
.loading-heart {
    position: relative;
    width: 50%;
    padding-bottom: 50%;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%) rotate(-135deg);
    -webkit-transform: translate(-50%, -50%) rotate(-135deg);
    -o-transform: translate(-50%, -50%) rotate(-135deg);
    -ms-transform: translate(-50%, -50%) rotate(-135deg);
    transform: translate(-50%, -50%) rotate(-135deg);
    background-color: #ff4351;
}
.loading-heart:before,
.loading-heart:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    padding-bottom: 100%;
    border-radius: 50%;
    background-color: inherit;
}
.loading-heart:before {
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-animation:  move-h 4s infinite;
    -moz-animation:     move-h 4s infinite;
    -o-animation:       move-h 4s infinite;
    animation:          move-h 4s infinite;
}
.loading-heart:after {
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-animation:  move-v 4s -1s infinite;
    -moz-animation:     move-v 4s -1s infinite;
    -o-animation:       move-v 4s -1s infinite;
    animation:          move-v 4s -1s infinite;
}

@-webkit-keyframes move-h {
    0%    { left: -50%; }
    25%   { left: 50%; }
    50%   { left: 50%; }
    75%   { left: -50%; }
    100%  { left: -50%; }
}
@-moz-keyframes move-h {
    0%    { left: -50%; }
    25%   { left: 50%; }
    50%   { left: 50%; }
    75%   { left: -50%; }
    100%  { left: -50%; }
}
@-o-keyframes move-h {
    0%    { left: -50%; }
    25%   { left: 50%; }
    50%   { left: 50%; }
    75%   { left: -50%; }
    100%  { left: -50%; }
}
@keyframes move-h {
    0%    { left: -50%; }
    25%   { left: 50%; }
    50%   { left: 50%; }
    75%   { left: -50%; }
    100%  { left: -50%; }
}


@-webkit-keyframes move-v {
    0%    { top: -50%; }
    25%   { top: 50%; }
    50%   { top: 50%; }
    75%   { top: -50%; }
    100%  { top: -50%; }
}
@-moz-keyframes move-v {
    0%    { top: -50%; }
    25%   { top: 50%; }
    50%   { top: 50%; }
    75%   { top: -50%; }
    100%  { top: -50%; }
}
@-o-keyframes move-v {
    0%    { top: -50%; }
    25%   { top: 50%; }
    50%   { top: 50%; }
    75%   { top: -50%; }
    100%  { top: -50%; }
}
@keyframes move-v {
    0%    { top: -50%; }
    25%   { top: 50%; }
    50%   { top: 50%; }
    75%   { top: -50%; }
    100%  { top: -50%; }
}

/* ... loading heart end ... */