<div class="row view-head">
	<ul class="nav">
		<li ng-class="popularActive"><a href="#/500px/popular">Popular</a></li>
		<li ng-class="upcomingActive"><a href="#/500px/upcoming">Upcoming</a></li>
		<li ng-class="editorsActive"><a href="#/500px/editors">Editors</a></li>
		<li ng-class="fresh_todayActive"><a href="#/500px/fresh_today">Fresh Today</a></li>
	</ul>
</div>
<div class="row" infi-scroll="service.nextPage()" style="margin-bottom: 50px;">
	<div id="grids" class="move-up">
		<div ng-repeat="photo in service.photos" class="grid" ng-repeat-end>

			<div class="shot shot-cam-loader effect-zoe">
				<div class="spinner"></div>
				<a class="user" href="http://500px.com/{{photo.user.username}}" target="_blank">
					<div class="avatar"><img src="{{photo.user.userpic_url}}" alt="{{photo.user.username}}" /></div>
					<!--<div class="name">{{photo.user.username}}</div>-->
				</a>

				<div class="classysocial"
				     data-theme="default"
				     data-arc-length="120"
				     data-arc-start="75"
				     data-picture="bubble_share_core"
				     data-facebook-handle="bubble_share_core"
				     data-twitter-handle="picozu_editor"
				     data-email-handle="office@picozu.net"
				     data-pinterest-handle="picozu"
				     data-instagram-handle="picozu"
				     data-networks="facebook,twitter,instagram"></div>
				<div>
					<a class="lightbox" href="{{photo.image_url[1]}}" target="_blank" style="display: block;">
						<img bn-lazy-src="{{photo.image_url[0]}}" alt="{{photo.name}}" class="img-responsive" style="height: 243px;" on-load/>
					</a>
					<div style="position: relative;">
						<figcaption>
							<a href="http://500px.com{{photo.url}}" target="_"><h2 class="title">{{photo.name}}</h2></a>
							<span class="glyphicon glyphicon-comment">{{photo.comments_count}}</span>
							<!--<span class="glyphicon glyphicon-eye-open">{{photo.votes_count}}</span>-->
							<span class="glyphicon glyphicon-heart-empty">{{photo.favorites_count}}</span>
						</figcaption>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
