<section id="cd-timeline" class="cd-timeline cd-container">
	<div class="row" infi-scroll="service.nextPage()" style="margin-bottom: 50px;">
		<div ng-repeat="photo in service.photos" class="cd-timeline-block" ng-repeat-end>
			<div class="cd-timeline-img cd-picture">
				<img src="/assets/images/cd-icon-picture.svg" alt="Picture">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content shot-cam-loader" data-id="{{photo.id}}">
				<div class="spinner"></div>
				<div class="timeline-img">
					<a href="{{photo.images.standard_resolution.url}}"><img bn-lazy-src="{{photo.images.standard_resolution.url}}" alt="{{photo.caption.text}}" class="img-responsive" on-load /></a>
					<div ng-if="photo.user_has_liked" class="heart heart-active" ng-click="popHeart($event);" data-method="delete"></div>
					<div ng-if="photo.user_has_liked == false" class="heart" ng-click="popHeart($event);" data-method="post"></div>
				</div>
				<figcaption class="in-photo-details">
					<div class="in-user-profile-pic"><img src="{{photo.user.profile_picture}}" alt="{{photo.user.username}}" class="img-responsive" style="height: 56px;width: 56px;"/></div>
					<span class="glyphicon glyphicon-comment ng-binding" style="margin-left: 100px;">{{photo.comments.count}}</span>
					<!--<span class="glyphicon glyphicon-eye-open">{{photo.votes_count}}</span>-->
					<span class="glyphicon glyphicon-heart-empty ng-binding">{{photo.likes.count}}</span>
				</figcaption>
				<div class="timeline-details">
					<div style="position:relative;max-height: 526px;">
						<div class="in-photo-status">
							<div class="timeline-user-pic"><img src="{{photo.user.profile_picture}}" alt="{{photo.user.username}}" class="img-responsive" style="height: 46px;width: 46px;"/></div>
							<div class="timeline-user-text">
								<div>
									<a href="#/instagram/users/{{photo.user.id}}/recent">{{photo.user.full_name}}</a>
									<span class="timeline-timestamp">{{photo.caption.created_time | fromNow}}</span>
								</div><br>
								<div>{{photo.caption.text}}</div>
							</div>
						</div>
						<div class="timeline-comments">
							<div class="empty-object" ng-if="photo.comments.data.length==0">No comments yet, be the first one to comment it ...</div>
							<div class="comment" ng-repeat="comment in photo.comments.data">
								<div class="timeline-user-pic"><img src="{{comment.from.profile_picture}}" alt="{{comment.from.username}}" class="img-responsive" style="height: 46px;width: 46px;"/></div>
								<div class="timeline-user-text">
									<div>
										<a href="#/instagram/users/{{comment.from.id}}/recent">{{comment.from.full_name}}</a>
										<span class="timeline-timestamp">{{comment.created_time | fromNow}}</span>
									</div><br>
									<div>{{comment.text}}</div>
								</div>
							</div>
						</div>
						<div class="in-new-comment">
							<form name="comment" ng-submit="commentCreate($event);" data-id="{{photo.id}}" data-method="post">
								<input name="comment" type="text" class="input-comment" placeholder="Commenting is coming soon ..." disabled/>
							</form>
						</div>
					</div>
				</div>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
		<div class="empty-object" ng-if="service.photos.length==0" on-load><span style="margin-left: -30px;">Wait while we load</span><span style="margin-left: 10px;">your photos ...</span></div>
		<div class="empty-object" ng-if="service.errors.length!=0" on-load><span style="font-size: 20px;margin-left: -30px;"> {{service.errors[0]}} ...</span></div>
	</div>
</section>