<div class="profile row no-touch">
	<div class="cover hi-icon-effect-spin">
		<div class="in-profile-munu">
			<!--<div><a href="#" class="hi-icon hi-icon-refresh">Loading ...</a></div>-->
			<!--<div><a href="#" class="hi-icon hi-icon-contract">Follow</a></div>-->
			<!--<div><a href="#" class="hi-icon hi-icon-search">Search</a></div>-->
			<!--<div><a href="#" class="hi-icon hi-icon-edit">Edit</a></div>-->
		</div>
		<div class="relationship">
			<a href="#" class="btn-not-followed" ng-if="service.relationship.incoming_status == 'none'">Not being followed</a>
			<a href="#" class="btn-not-followed" ng-if="service.relationship.incoming_status == 'followed_by'">Being followed</a>
			<a ng-click="friendRequest({event: $event, user_id: service.profile.id, action: 'approve'})" class="btn-follow" ng-if="service.relationship.incoming_status == 'requested_by'">Approve now</a>
			<a ng-click="friendRequest({event: $event, user_id: service.profile.id, action: 'follow'})" class="btn-follow" ng-if="service.relationship.outgoing_status == 'none'">Follow now</a>
			<a ng-click="friendRequest({event: $event, user_id: service.profile.id, action: 'unfollow'})" class="btn-follow" ng-if="service.relationship.outgoing_status == 'follows'">
				<span class="follow">Following</span>
				<span class="unfollow">Unfollow</span>
			</a>
		</div>

	</div>
	<div class="in-nav">
		<ul class="in-filters">
			<li ng-class="feedActive"><a href="#/instagram/users/self/feed">Feed</a></li>
			<li ng-class="likedActive"><a href="#/instagram/users/self/liked">Liked</a></li>
			<li ng-class="recentActive"><a href="#/instagram/users/{{service.profile.id}}/recent">Recent</a></li>
		</ul>
		<ul class="in-count">
			<li><a href="#/instagram/users/{{service.profile.id}}/recent">{{service.profile.counts.media}} <span>Posts</span></a></li>
			<li><a href="#/instagram/friends/{{service.profile.id}}/followed-by">{{service.profile.counts.followed_by}} <span>Followers</span></a></li>
			<li><a href="#/instagram/friends/{{service.profile.id}}/follows">{{service.profile.counts.follows}} <span>Following</span></a></li>
		</ul>
	</div>
	<div class="pic shot-cam-loader">
		<div style="position:relative;">
			<img src="{{service.profile.profile_picture}}" alt="{{service.profile.username}}" class="img-responsive" style="height: 142px;" on-load/>
			<div class="spinner"></div>
		</div>
	</div>
</div>
