<div id="instagram" class="cssanimations">
	<div class="row view-head">
		<ul class="nav">
			<li ng-class="feedActive"><a href="#/instagram/feed">Feed</a></li>
			<li ng-class="likedActive"><a href="#/instagram/liked">Liked</a></li>
			<li ng-class="profileActive"><a href="#/instagram/profile">Profile</a></li>
			<li ng-class="recentActive"><a href="#/instagram/recent">Recent</a></li>
		</ul>
	</div>
	<!--<div class="profile row">
		<div class="cover"></div>
		<div class="insta-nav"></div>
		<img class="pic" src="{{service.profile.profile_picture}}" alt="{{service.profile.username}}"/>
	</div>-->

	<section id="cd-timeline" class="cd-container">
		<div class="row" infi-scroll="service.nextPage()" style="margin-bottom: 50px;">
			<div ng-repeat="photo in service.photos" class="cd-timeline-block" ng-repeat-end>
				<div class="cd-timeline-img cd-picture">
					<img src="/assets/images/cd-icon-picture.svg" alt="Picture">
				</div> <!-- cd-timeline-img -->

				<div class="cd-timeline-content">
					<h2>Title of section 1</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
					<a href="#0" class="cd-read-more">Read more</a>
					<span class="cd-date">Jan 14</span>
				</div> <!-- cd-timeline-content -->
			</div> <!-- cd-timeline-block -->
		</div>
	</section>
</div>